body{
    color:rgb(237, 14, 163);
    background-color: rgb(246, 238, 12);
}
header{
    border-bottom: solid 2px rgb(rgb(15, 238, 216));
    padding: 20px;
    font-size: 32px;
    color:black;
    background-color: deeppink;
}
.chamada{
    background-color: bisque;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.categorias_videos{
      display: flex;
      overflow-y: auto;
      gap: 15px;
}
.categorias{
    padding-left: 20px;
    padding-right: 20px;
}