body{
    color:rgb(237, 14, 163);
    background-color: rgb(246, 238, 12);
}
header{
    border-bottom: solid 2px rgb(rgb(15, 238, 216));
    padding: 20px;
    font-size: 32px;
    color:black;
    background-color: deeppink;
}